.banner {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh;

  padding: 0 7%;
  flex-direction: column;

  #list_prompt,
  #name {
    color: #9cb1ff;
  }

  .name {
    font-size: clamp(0.5rem, 10vw, 3rem);
  }

  .loop-prompt {
    flex: 0 1 28%;
    font-size: clamp(0.5rem, 8vw, 3rem);
    margin-top: 20px;
  }

  span {
    color: #d9d9d9;

    font-family: "Roboto", sans-serif;
    font-weight: 700;
  }

  p {
    color: #d9d9d9;
    font-family: "Roboto", sans-serif;
    margin-top: 10px;
    font-size: 22px;
    max-width: 500px;
  }

  @media screen and (max-width: 768px) {
    p {
      font-size: 16px;
    }
  }
}

.banner__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
}

#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  backdrop-filter: blur(3px);
}

.particles_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  backdrop-filter: blur(3px);
}
